@model IEnumerable<project03.Models.entiy.two>


@{
    ViewBag.Title = "show_card";
    Layout = "~/Views/Shared/index.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3"><b>Tên sản phẩm</b></div>
        <div class="col-sm-3"><b>Giá</b></div>
        <div class="col-sm-1"><b>Ảnh</b></div>
        <div class="col-sm-2"><b>Số Lượng</b></div>
        <div class="col-sm-1"><b>Action</b></div>
        <div class="col-sm-1"><b>total_item</b></div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">@item.name</div>
            <div class="col-sm-3">@item.gia</div>
            <div class="col-sm-1"><img src="~/Content/images/@item.anh" alt="Alternate Text" /></div>
            <div class="col-sm-2">
                <form action="/shop/update_soluong" method="post">
                    <input type="text" hidden name="id_hang" value="@item.id_hang" />
                    <input style="width:50%" type="number" name="quantity" value="@item.soluong" />
                    <input type="submit" value="update" />
                </form>
            </div>
            <div class="col-sm-1">
                <form action="/shop/delete_item_cart" method="post">
                    <input type="text" hidden name="id_hang" value="@item.id_hang" />
                    <input type="submit" value="delete" />
                </form>
            </div>
            <div class="col-sm-1 total_item"><b> @(item.gia * item.soluong) </b></div>
        }
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 bg-info">
            <b>Thanh Tien</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 border-bottom">
            <b>Tong tien hang</b>
        </div>
        <div id="total_all_item" class="border-bottom col-sm-3">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 border-bottom">
            <b>Phi van chuyen</b>
        </div>
        <div class="border-bottom col-sm-3">
            <b>FreeShip</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 border-bottom">
            <b>Vat</b>
        </div>
        <div class="border-bottom col-sm-3">
            <b> 10%</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 border-bottom">
            <b>Tong thanh toan</b>
        </div>
        <div id="sum_thanh_toan" class="border-bottom col-sm-3">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 border-bottom">
            <button class="btn btn-danger"> @Html.ActionLink("Thanh toan", "thanhtoan", "shop") </button>
        </div>
    </div>
</div>

<script>
    function tinhtien() {
        var total_all_item = $(".total_item");
        var s = 0;
        for (var i = 0; i < total_all_item.length; i++) {
            s = s + Number(total_all_item[i].innerText);
        }
        $("#total_all_item").html("<b>"+s + "vnd</b>")
        //thanh toan
        $("#sum_thanh_toan").html("<b>" + (s - (s * (10 / 100))) + "vnd</b>")
        

    }
    tinhtien();

</script>
       

