@model IEnumerable<project03.Models.entiy.LoaiHang>
<div class="header">
    <div class="header_top">
        <div class="logo">
            <a href="index.html"><img src="~/Content/images/logo.png" alt="" /></a>
        </div>
        <div class="cart">
            <p>
                Welcome <b style="color:red;">@Session["name_account"]</b> to our Online Store! <span> <a href="/shop/show_card"> Cart:</a></span><div id="dd" class="wrapper-dropdown-2">
    @Session["sum_item_car"] item(s) - @Session["price"] --    
    @if (Session["name_account"] != null)
    {
       <a href="/login/logout">logout</a>
       
    }
    else
    {
        <a href="/login/index">login</a>
    }
    <ul class="dropdown">

        <li>you have no items in your Shopping cart</li>
    </ul>
</div>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="header_bottom">
        <div class="menu">
            <ul>
                <li class="active"><a href="/shop/index">Home</a></li>
                @foreach (var item in Model)
                {
                      <li id="@item.MaLoai" ><a href="#">@item.TenLoai</a></li>
                }
                @*  <li><a href="about.html">About</a></li>
        <li><a href="delivery.html">Delivery</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="contact.html">Contact</a></li>
        <div class="clear"></div>*@
            </ul>
        </div>
        <div class="search_box">
            <form>
                <input id="aa" type="text" name="item" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <input id="search" @*value="" onclick="document.forms[0].submit()"*@ type="button">
            </form>   
                    </div>
      
        <div class="clear"></div>
    </div>
</div>
<script>
    $("li").click(function (e) {
        var id = $(this).attr("id");
        $.ajax(
            {
                url: "/shop/render",
                data: { Id: id },
                success: function (respone) {
                    $("div.content").html(respone);
                }

            }
        )
    })

    $("input#search").click(function (e) {
        var id = $("input#aa").attr("value");
        console.log(id);
        $.ajax(
            {
                url: "/shop/search",
                data: { item: id },
                success: function (respone) {
                    $("div.content").html(respone);
                }

            }
        )
    })


</script>